body {
    background: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),
        url("clouds_wno_sun.jpg");
}
canvas {
    border: 1px solid black;
    display: block;
    margin: auto;
    background: url("clouds_wno_sun.jpg");
    background-size: cover;
    font-family: "Rubik Bubbles";
    border-radius: 30px;
    border-color: white;
    -webkit-box-shadow: 0px 0px 36px 6px rgba(50, 98, 134, 0.52);
    -moz-box-shadow: 0px 0px 36px 6px rgba(50, 98, 134, 0.52);
    box-shadow: 0px 0px 36px 6px rgba(50, 98, 134, 0.52);
}

#gameOverText {
	font-family: "Rubik Bubbles", system-ui;
	color: white;
	font-size: 30px;
    position: absolute;
    left: 500px;
    top: 70px;
}
#scoreText{
    font-family: "Rubik Bubbles", system-ui;
	color: white;
    position: absolute;
    left: 350px;
    top: 150px;
	font-size: 24px;
}
